.productos-grid{
    margin-left: 3rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}
@media (min-width: 768px){
    .productos-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .productos-grid{
        margin-left: 0rem;
        display: grid;
        gap: 2rem;
    }
}
@media (min-width: 992px){
    .productos-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .productos-grid{
        margin-left: 1rem;
        margin-right: 1rem;
        display: grid;
        gap: 2rem;
    }
    .producto{
        font-size: .8rem;
    }
    .imagen{
    width: 250px;
    height: 200px;
}
}

.description{
    font-size: 1.4rem;
}

.link{
    text-decoration: none;
    color: whitesmoke;
}
.producto{
    text-align: center;
}
.producto .contenido{
    display: block;
    align-items: center;
    text-align: center;
    margin: 0;
}
.producto .contenido .price-stock{
    display: flex;
    gap: 4rem;
}
.producto .contenido h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 900;
    
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.producto .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.producto .descripcion:hover {
    color: whitesmoke;
}

.producto .precio{
    color: var(--primary);
    font-size: 1.8rem;
    margin: 0;
    font-weight: 600;
}
.producto .enlace{
    display: block;
    margin-top: 1.5rem;
    background-color: rgb(0, 177, 186);
    color: whitesmoke;
    text-decoration: none;
    padding: .6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
    transition-property: background-color;
    transition-duration: 200ms;
}
.producto .enlace-cart{
    display: block;
    margin-top: 1.5rem;
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: 200ms;
}

.guitarra .enlace:hover{
    background-color: var(--primary);
}

.full{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
    padding: 0rem;
    padding: 1rem;
}
@media (min-width: 768px){
    .full {
        grid-template-columns: repeat(2, 1fr);
    }
}
.stock-price{
    text-align: center;
}

.descripcion{
    margin-right: 3rem;
    margin-left: 3rem;
}


.formulario {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.formulario label {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.formulario select {
    text-align: center;
    padding: .3rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-top: 1rem;
}
.formulario input[type="submit"] {
    display: block;
    margin-top: .5rem;
    background-color: rgb(0, 162, 181);
    color: whitesmoke;
    text-decoration: none;
    padding: .6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1rem;
    transition-property: background-color;
    transition-duration: 200ms;
    width: 100%;
    border: 0px;
}
.formulario input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--primary);
}